<%= form_with(model: [:internal, @donation_item]) do |f| %>
  <div>
    <%= f.label :instrument, 'Instrument:' %>
    <%= f.text_field :instrument %>
  </div>

  <div>
    <%= f.label :condition, 'Condition:' %>
    <%= f.select :condition, [['New', 'New'], ['Barely Used', 'Barely Used'], ['Good', 'Good'], ['Rough', 'Rough'], ['Bad', 'Bad'], ['Damaged', 'Damaged']] %>
  </div>

  <div>
    <%= f.label :quantity, 'Quantity:' %>
    <%= f.select :quantity, (0..999) %>
  </div>

  <div>
    <%= f.label :location, 'Location:' %>
    <%= f.text_field :location %>
  </div>

  <div>
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, 'Email:' %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= link_to 'Cancel', internal_donation_items_path %>
    <%= f.submit 'Save' %>
  </div>
<% end %>
