<% content_for(:title, 'Donation Items') %>

<h1>DONATIONS</h1>

<style>
table, th, td {
  border: 1px solid brown;
  border-collapse: collapse;
}

th, td {
  text-align: center;
}

table {
  margin:1em auto;
  width: 100%
}
</style>

<table>
  <tr>
    <th>Instrument</th>
    <th>Condition</th>
    <th>Quantity</th>
    <th>Location</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>

  <% @donation_items.each do |donation_item| %>
    <tr>
      <td><%= donation_item.instrument %></td>
      <td><%= donation_item.condition %></td>
      <td><%= donation_item.quantity %></td>
      <td><%= donation_item.location %></td>
      <td><%= donation_item.name %></td>
      <td>
        <%= link_to 'Request', internal_donation_item_path(donation_item) %>,
        <%= link_to 'Edit', edit_internal_donation_item_path(donation_item) %>, or
        <%= link_to 'Delete', internal_donation_item_path(donation_item), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
