<% content_for(:title, 'Request Donation') %>

<h1>REQUEST DONATION</h1>

<p><b>Instrument:</b><br><%= @donation_item.instrument %></p>
<p><b>Condition:</b><br><%= @donation_item.condition %></p>
<p><b>Quantity:</b><br><%= @donation_item.quantity %></p>
<p><b>Location:</b><br><%= @donation_item.location %></p>
<p><b>Name:</b><br><%= @donation_item.name %></p>
<p><b>Contact Information (Email Address):</b><br><%= mail_to @donation_item.email, nil, class: 'link link--underlined' %></p>

<div class="hbox hbox--centering">
  <%= link_to 'Back', internal_donation_items_path %>
</div>
