<%= form_with(model: [:internal, @wishlist_item]) do |f| %>
  <div class="input-group">
    <%= f.label :instrument, 'Instrument:' %>
    <%= f.text_field :instrument, class: 'textbox textbox--wide' %>
  </div>

  <div class="input-group">
    <%= f.label :quantity, 'Quantity:' %>
    <%= f.text_field :quantity, class: 'textbox textbox--wide' %>
  </div>

  <div class="input-group">
    <%= f.label :date_required, 'Date Needed By:' %>
    <%= f.text_field :date_required, class: 'textbox textbox--wide' %>
  </div>

  <div class="input-group">
    <%= f.label :importance, 'Importance:' %>
    <%= f.text_field :importance, class: 'textbox textbox--wide' %>
  </div>

  <div class="hbox">
    <%= link_to 'Cancel', internal_donation_items_path, class: 'button button--spaced' %>
    <%= f.submit 'Save', class: 'button button--spaced' %>
  </div>
<% end %>
