<%= form_with(model: [:internal, @wishlist_item]) do |f| %>
  <div>
    <%= f.label :instrument, 'Instrument:' %>
    <%= f.text_field :instrument %>
  </div>

  <div>
    <%= f.label :quantity, 'Quantity:' %>
    <%= f.select :quantity, (0..999) %>
  </div>

  <div>
    <%= f.label :date_required, 'Date Needed By:' %>
    <%= f.date_field :date_required %>
  </div>

  <div>
    <%= f.label :importance, 'Importance:' %>
    <%= f.select :importance, [['High', 'High'], ['Medium', 'Medium'], ['Low', 'Low']] %>
  </div>

  <div>
    <%= link_to 'Cancel', internal_wishlist_items_path %>
    <%= f.submit 'Save' %>
  </div>
<% end %>
